<%- include("partials/header.ejs") %>

    <div class="block"></div>
    <div class="container">
        <div class="print">
              <p>Caution!</p>
              <p>Got it!</p>
        </div>
         <div class="title">
             <% let date = new Date() %>
             <% let weekDay = [ "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"] %>
             <% let month = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %>
            <span><%=weekDay[date.getDay()]%>, <%=month[date.getMonth()]%> <%=date.getDate()%></span>
        </div>
        
        <% if(locals.list){%> <% for (const key in list) { %>
        <div class="item">
          <input type="checkbox" id="<%=list[key].tsk %>" />
          <p class="<%=list[key].tsk %>"><%=list[key].tsk%></p>
          <button name="button">X</button>
        </div>
        <% } %> <% }%>

        <form action="/submit" method="post" name="today">
          <input type="text" name="task" placeholder="New Item" autocomplete="off" class="bor"/>
          <button type="submit" name="button" id="add">+</button>
        </form>
    </div>

    <script src="script.js"></script>
  </body>
</html>
